# Ignore build file
build/
bin/
*.exe
*.out
*.o
*.obj
_deps/
CMakeFiles/
CMakeCache.txt

# Ignore generated data
render_job.py
camera_data.txt
render_progress.txt
config.txt
*.mp4
*.sh
# DO NOT IGNORE omg
!resources/
!*.ttf
!*.png
